*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
/ai/libs/
/ai/src/main/jniLibs/arm64-v8a/
/ai/src/main/assets/
keystore.properties
*.jks
**/ci-release-signing.jks
